<form {{action "submit" on="submit"}}>
    <p>{{input value=name placeholder="Your Name"}}</p>
    <p>{{input value=content placeholder="Your Comment"}}</p>

    <p>{{input type="submit" value="Submit"}}</p>
</form>
