<h2>About EmberBlog</h2>

<p>
    This project was created to test out all the core concepts of the Ember
    framework in order to verify our methods and design decisions for the
    Keystone Web Order Entry client.
</p>

{{#link-to "contact"}}Contact{{/link-to}}
