<header>
    {{#link-to "application"}}EmberBlog{{/link-to}}
    {{#link-to "posts"}}Posts{{/link-to}}
    {{#link-to "about"}}About{{/link-to}}
    {{#link-to "contact"}}Contact{{/link-to}}
</header>

<main>
    {{outlet}}
</main>

<footer>
    <span>copyright 2015</span>
</footer>
