<h2>Contact the Folks at EmberBlog</h2>

<p>
    Indy Res Team<br>
    8 North Queen Street<br>
    Lancaster, PA 17602
</p>

<p>
    support@theindustrialresolution.net
</p>

{{#link-to "about"}}About Us{{/link-to}}
