<h1>Welcome to EmberBlog</h1>

<p>
    Use this project to learn about the core concepts that power the Ember framework.
</p>

{{#each model as |postObject|}}
    {{post-listing post=postObject}}
{{/each}}

{{#link-to "about"}}About Us{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}
