<h1>Welcome to EmberBlog</h1>

<p>
    Use this project to learn about the core concepts that power the Ember framework.
</p>

{{#each model as |post|}}
    <h2>{{post.title}}</h2>
    <p>By: {{post.author}}</p>
    <p>Date: {{post.date}}</p>
    <p>
        {{post.content}}
    </p>
{{/each}}

{{#link-to "about"}}About Us{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}
